.checkoutPage {
  width: 100%;
  height: 100%;
  display: block;
  border-top: 1px solid #e8e8e8;
}

.checkoutPage input {
  background: #f4f4f4;
  color: #333;
  border: none;
  font-size: 0.9rem;
  padding: 0.9rem;
  margin-bottom: 1rem;
}

.checkoutPage h2 {
  margin: 0;
  padding: 0;
  text-align: start;
  font-size: 1.5rem;
  font-weight: 400;
  font-family: "Times New Roman",Times,serif;
  padding-top: 0.6rem;
  margin-bottom: 1rem;
}

.emptyCart {
  text-align: start;
}

.emptyCart a {
  text-decoration: underline;
}

.filledCart {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: start;
  max-width: 550px;
}

.contact {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.contact input {
  width: 100%;
  
}

.address {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.addressFirstRow {
  display: flex;
  justify-content: space-between;
}

.addressFirstRow input {
  width: 49%;
}

.addressSecondRow input {
  width: 100%;
}

.addressThirdRow {
  display: flex;
  justify-content: space-between;
}

.addressThirdRow input {
  width: 49%;
}

.buttons {
  margin: 2rem 0 3rem 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btnBack, .btnConfirm{
  font-size: 0.9rem;
  padding: 0.8rem;
  border: 2px solid #333;
  text-transform: uppercase;
}

.btnBack {
  background: #FFF;
  color: #333;
}

.btnConfirm {
  background: #333;
  color: #FFF;
}

.btnBack:hover, .btnConfirm:hover{
  opacity: 0.8;
  cursor: pointer;
}
