.header{
  width: 100%;
}

.topBar{
  display: flex;
  padding: 1rem 0;
  justify-content: space-between;
  align-self: center;
  border-bottom: 1px solid #e8e8e8;
  font-size: 0.9rem;
}

.search span {
  padding-left: 1rem;
}

.cart span {
  padding-left: 0.5rem;
}

.headerLogo{
  display: flex;
  padding: 1rem 0;
}

.headerLogo h1 {
  font-size: 2.5rem;
}

.headerLogo h1:hover {
  opacity: 0.8;
}