.cartPage {
  width: 100%;
  height: 100%;
  /* background: gray; */
  display: block;
  border-top: 1px solid #e8e8e8;
}

.cartPage h2 {
  margin: 0;
  padding: 0;
  text-align: start;
  font-size: 1.5rem;
  font-weight: 400;
  font-family: "Times New Roman",Times,serif;
  padding-top: 0.6rem;
  margin-bottom: 2rem;
}

.emptyCart {
  text-align: start;
}

.emptyCart a {
  text-decoration: underline;
}

.emptyCart a:hover {
  opacity: 0.8;
}