.footer{
  width: 100%;
  margin-top: 1rem;
  border-top: 1px solid #e8e8e8;
}

.topBar{
  display: flex;
  padding: 1rem 0;
  justify-content: space-between;  
  font-size: 0.9rem;
}

.links {
  width: 48%;
  text-align: start;
}

.linkItem {
  line-height: 1.5rem;
}

.subscribe {
  width: 48%;
  text-align: start;
}

.subscribe p {
  line-height: 1.2rem;
}

.form {
  display: flex;
}

.form input {
  width: 100%;
  background-color: #f4f4f4;
  border: none;
  padding-left: 1rem;
}

.form button {
  background-color: #333;
  color: #FFF;
  border: none;
  text-transform: uppercase;
  font-size: 0.9rem;
  padding: 1rem;
}

.form button:hover {
  opacity: 0.8;
}

.form button:active {
  background-color: #000;
}


.footerInfo {
  border-top: 1px solid #e8e8e8;
  display: flex;
  justify-content: start;
  font-size: 0.9rem;
  padding: 2rem 0;
}

