body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: Helvetica,"Helvetica Neue",Arial,"Lucida Grande",sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input, button {
  font-family: Helvetica,"Helvetica Neue",Arial,"Lucida Grande",sans-serif;
  font-style: normal;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


*, ::before, ::after {
  box-sizing: border-box;
}

a {
  color: #333;
  text-decoration: none;
}


.App {
  color: #333;  
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 30px;
}

.center {
  display: flex;
  justify-content: space-between;
}

.navWrapper {
  width: 18%;
}

.contentWrapper {
  width: 80%;
}